token.mat
octave-workspace

deep-learning/mnist/\.vs/mnist/v15/\.suo

deep-learning/mnist/mnist/MNIST-data/

deep-learning/mnist/mnist/mnist_convnet_model/

*.user

deep-learning/\.vs/deep-learning/v15/\.suo
